/* Utilities */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h1 {

    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
}

p {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.watch {
    background: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
    gap: 10px;
}

.banner {
    background-color: #161616;
    border-radius: 30px;


}

.header-section {
    display: flex;
    color: white;
    justify-content: center;
    padding-top: 33px;


}

.header-img {
    width: 581px;
    height: 613px;
    left: 801px;
    top: 83px;

}

.upcoming-match {
    background-color: black;
    height: 312px;
    margin-top: 120px;
    border-radius: 10px;


}

.upcoming {
    margin-left: 15%;
    margin-top: 20%;
    padding: 20px 40px;
    font-weight: 800px;
    font-size: 16px;
    border-radius: 20px;

}

.anchor {
    text-decoration: none;
    color: #161616;
}

.Group {
    margin-left: 25%;
    margin-top: 5%;
    padding: 20px 40px;
    font-weight: 800px;
    font-size: 16px;
    border-radius: 20px;
}

.Blog-button {
    margin-left: 30%;
    margin-top: 5%;
    padding: 20px 40px;
    font-weight: 800px;
    font-size: 16px;
    border-radius: 20px;
    background-color: #DD0000;

}

.blog-section {
    display: grid;
    grid-template-columns: 312px repeat(3, 1fr);
    margin-top: 100px;
    margin-left: 50px;
}

.live-blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 100px;

}

.blog {
    border: 1px solid;
    border-radius: 20px;
    margin: 20px;


}

.transfer {
    padding: 20px;
}

.icon {
    display: flex;
    gap: 15px;
}

.footer {
    background-color: black;
    color: #FAFAFA;
    text-align: center;
}

#footer-heading {

    color: #FF5959;
    font-weight: 400;
    font-size: 36px;
    padding-top: 40px;
}

.footer-p {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.footer-p-2 {
    padding-right: 40px;
}

.upcoming-blog {
    display: flex;
    align-items: center;
}

p {
    color: #b09f9f;
}

.flag {
    border: 1px solid;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.upcoming2 {
    margin-left: 15%;
    margin-top: 10%;
    padding: 20px 40px;
    font-weight: 800px;
    font-size: 16px;
    border-radius: 20px;
    background-color: #DD0000;
}

.Blog-button2 {
    margin-left: 30%;
    margin-top: 5%;
    padding: 20px 40px;
    font-weight: 800px;
    font-size: 16px;
    border-radius: 20px;
}

.header-img:hover {
    transform: scale(1.2);
    transition-duration: 5s;

}

/* media queries */
/* mobile devices */
@media only screen and (max-width:688px) {
    .header-section {
        display: block;
        margin-left: 10%;
        color: white;

    }

    h1 {
        font-size: 22px;
        line-height: 33px;
    }

    p {
        font-size: 14px;
        line-height: 24px;
    }

    .header-img {
        width: 233px;
        height: 245px;
        left: 84px;
        top: 271px;

    }

    .blog-section {
        display: block;
        margin-top: 100px;
        margin-left: 0px;
    }

    .live-blog {
        display: block;
        margin: 0px;

    }

    .footer-p {
        display: block;

    }

    .footer-p-2 {
        padding-right: 0px;
    }

}

@media only screen and (max-width:992px) {


    h1 {
        font-size: 40px;
        line-height: 50px;
    }

    p {
        font-size: 14px;
        line-height: 24px;
    }

    .header-img {
        width: 323px;
        height: 340px;
        left: 444px;
        top: 108px;

    }

    .blog-section {
        display: block;

    }

    .upcoming-match {
        display: flex;
        background-color: #FAFAFA;

    }

    .upcoming {
        margin-left: 0%;
        margin-top: 0%;
        padding: 0px 0px;
        font-weight: 400px;
        font-size: 16px;
        border-radius: 50px;

    }

    .anchor {
        text-decoration: none;
        color: #161616;
    }

    .Group {
        margin-left: 0%;
        margin-top: 0%;
        padding: 0px 0px;
        font-weight: 500px;
        font-size: 16px;
        border-radius: 10px;
    }

    .Blog-button {
        margin-left: 0%;
        margin-top: 0%;
        padding: 0px 0px;
        font-weight: 400px;
        font-size: 16px;
        border-radius: 5px;
        background-color: #DD0000;

    }

    .live-blog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0px;

    }

    .footer-p {
        display: block;

    }

    .footer-p-2 {
        padding-right: 0px;
    }

}